img {
    height: 64px;
    width: 64px;
    margin: 0;
}
img:hover{
    height: 70px;
    width: 70px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 74px;
    width: 74px;
    padding: 0;
    border-radius: 37px;
    border: 0;
    background-color: #F2F4F5;
    margin-left: 280px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 10px;
    z-index: 1;
}
button:hover {
    
    height: 80px;
    width: 80px;
    cursor: pointer;
}
button:active {
    background-color: #F2F4F5;
}